*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}


.container{
    background-image: url(./image/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(236, 2, 2);
    width: 100vw;
    height: 100vh;
    padding: 0px 100px;
}

/* Início do Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1650px;
    padding: 20px;
}

.menu-nav{
    display: flex;
    align-items: center;
}
.menu-nav ul{
    display: flex;
}
#logo{
    color:white;
    font-size: 48px;
    margin-left: 50px;
    margin-right: 50px;
}
.menu-nav ul a{
    margin:0px 20px;
    color: white;
}
/* Final do Header */

/* Inicio article-content */
.article-content{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    width: 483px;
    height: 500px;
}
#title{
    color:white;
    font-size: 144px;
    line-height: 0.9;
}
.sub-title{
    color:white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#btnConsulte{
    width: 130px;
    height: 37px;
    background: #FF4A11;
    color: white;
}
/* Final article-content */

/* Inicio section-bottom */
.section-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1650px;
    flex-direction: row;
    border: 5px solid rgb(14, 185, 142);       
}
.box-bottom1{
    width: 183px;
    height: 183px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.box-bottom2, .box-bottom3, .box-bottom4, .box-bottom5{
    width: 292px;
    height: 183px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-item1, .box-item3, .box-item5, .box-item7, .box-item9{
    position: absolute;
}

.box-item2, .box-item4, .box-item6, .box-item8, .box-item10{
    position: absolute;
    z-index: 9999;
    display: flex; 
    
}



/* Final section-bottom */
