*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}


.container{
    background-image: url(./image/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(236, 2, 2);
    width: 100vw;
    height: 100vh;
    padding: 0px 100px;
}

/* Início do Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1650px;
    padding: 20px;
}

.menu-nav{
    display: flex;
    align-items: center;
}
.menu-nav ul{
    list-style: none;
    display: flex;
}
#logo{
    color:white;
    font-size: 48px;
    margin-left: 50px;
    margin-right: 50px;
}
.menu-nav ul a{
    text-decoration: none;
    margin:0px 20px;
    color: white;
}
.menu-nav ul a:hover{
    color: #FF4A11;
}
/* Final do Header */

/* Inicio article-content */
.article-content{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    width: 483px;
    height: 500px;
}
#title{
    color:white;
    font-size: 144px;
    line-height: 0.9;
}
.sub-title{
    color:white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#btnConsulte{
    width: 130px;
    height: 37px;
    background: #FF4A11;
    color: white;
}
/* Final article-content */

/* Inicio section-bottom */
.section-bottom{
    margin-top: 110px;
    width: 100vw;
    height: 183px;
    display: flex;  
}
.box-bottom1{
    width: 183px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }
   .box-item2{
    position:absolute
}

.box-bottom2{
    background-color: black;
    width: 292px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box-bottom3{
    width: 276px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-bottom4{
    width: 108px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-item3, .box-item5, .box-item7, .box-item9{
    opacity: 0.3;
}
.box-item3:hover, .box-item5:hover, .box-item7:hover, .box-item9:hover{
    opacity: 1;
    transition: 0.5s;
}
.text-box{
    font-size: 20px;
    color: white;
    position: absolute;
    pointer-events:none;
}


/* Final section-bottom */
